
.Mercury{
background-color: aqua;
}

.venus{
background-color: aquamarine;
}
.mars{
    background-color: beige;
}

.Earth{
    background-color: blue;
}

.jupiter {
    background-color: bisque;
}

.Sarturne {
    background-color: brown;
}

.uranus {
    background-color: cadetblue;
}

.Neptune{
    background-color:  crimson;
}

